/*mi parte isaac*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
}
body{
    background-color: rgb(21, 190, 21);
}
header{
    background-color: #1b3039;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding:  5px 10%;

}
.header .logo{
    cursor: pointer;
    order: 3;
    margin-left: auto;
}
.header .logo img{
    height: 70px;
    width: 50;
    transition: all 0.3s;
}
.header .logo img:hover{
    transform: scale(1.2);

}
.header .nav-links{
    list-style: none;
}

.header .nav-links .li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1,1);
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;

}
.header .nav-links li a:hover{
    color: #ffbc0e;
}

.header .btn button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background-color: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;

}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1,1);
}